<section class="site-sec__toc">
    <nav class="site-nav__toc">
        <a href="#" id="js-site-toc" class="site-nav__link site-toc__label site-toc__link smallcaps"><strong>Daftar Isi<span class="site-toc__icon">&hellip;</span></strong></a>
        <ul id="site-toc__content" class="site-toc__list site-custom__list">
            <li class="site-toc__item">
                <a href="#" class="site-toc__sec site-toc__href"><strong>Sejarah Tipografi</strong></a>
                <a href="file:///E:/project/publish/tipografi.html#gutenberg" class="site-toc__id site-toc__href">Johannes Guttenberg</a> 
                <a href="#" class="site-toc__id site-toc__href">John Baskerville</a>
            </li>
            <li class="site-toc__item">
                <a href="#" class="site-toc__sec site-toc__href"><strong>Sejarah Tipografi</strong></a>
                <a href="#" class="site-toc__id site-toc__href">Johannes Guttenberg</a> 
                <a href="#" class="site-toc__id site-toc__href"><span class="site-toc__new smallcaps">Baru &bull; </span>John Baskerville</a>
            </li>
        </ul>
    </nav>
</section>