@media screen and (min-width: 412px) {
    blockquote p { font-size: 1.5157rem; }
    
    body, cite { font-size: 1.1487rem; }
    
    article ul > li::before { margin-right: 0.475rem; }
    
    .site-nav__item { margin-left: 1.5rem; }
}

@media screen and (min-width: 640px) {
    blockquote p { font-size: 1.7411rem; }
    
    body, cite { font-size: 1.3195rem; }
    
    a:hover { color: #333; }
    
    p a { background-position: 0 -0.2rem; }
    
    p a:hover { background-image: linear-gradient(to top, #333, #333 1px,transparent 1px,transparent); }
        
    sup a { background-position: 0; }
    
    article ul > li::before { margin-right: 0.45rem; }
    
    .page-wrapper { width: 580px; }
    
    .site-info__link:hover { background-image: linear-gradient(to top, #fff, #fff 1px,transparent 1px,transparent); }
    
    .site-nav__toc span { line-height: 10px; }
}

@media screen and (min-width: 1280px) {
    article ul > li::before { margin-right: 0.375rem; }
}