<p class="site-item__heading smallcaps">{{post.label}}</p>
{%if post.category == 'prinsip'%}
<h3><a href="{{post.link}}" target="_blank" class="site-item__link">{{post.title}}</a></h3>
{%elsif page.url == post.url%}
<h3>{{post.title}}</h3>
{%else%}
<h3><a href="{{post.url}}" class="site-item__link">{{post.title}}</a></h3>
{%endif%}
<p class="site-item__intro">{{post.intro}}</p>
<p class="site-item__info smallcaps"><date>{% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }}{% case m %}{% when '1' %} Jan {% when '2' %} Feb {% when '3' %} Mar {% when '4' %} Apr {% when '5' %} Mei {% when '6' %} Jun {% when '7' %} Jul {% when '8' %} Agu {% when '9' %} Sep {% when '10' %} Okt {% when '11' %} Nov {% when '12' %} Des {% endcase %}{{ post.date | date: "%Y" }}</date> &bull; {{post.author}}</p>