/*
 * FOOTER STARTS
 */
.page-foot { border-top: 1px solid #eaeaea; }

.site-sec__info { color: #888; }

.site-foot__copy { float: left; }

.site-foot__about { float: right; }

.site-info__link {
    background-image: linear-gradient(to top, #fff, #fff 1px, transparent 1px, transparent);
    display: block;
}
/*
 * FOOTER ENDS
 */